@import url(http://fonts.googleapis.com/css?family=Sansita\+One)
@import url(../node_modules/purecss/tables.css)
@import url(../node_modules/purecss/forms.css)

// Pages.
#getting-started
  @import '../scripts/lib/pages/getting-started/getting-started.styl'
#log
  @import '../scripts/lib/pages/log/log.styl'
#settings
  @import '../scripts/lib/pages/settings/settings.styl'
#billing
  @import '../scripts/lib/pages/billing/billing.styl'

html, body
  box-sizing border-box
  padding 0
  margin 0
  font-family Helvetica, Arial, sans-serif
  background-color #FFF
  width 100%
  height 100%
  position relative

  &.intro
    //background-color #ECFFF7
    background-color #FFF

    nav
      display none

nav 
  border-bottom 1px solid #EFEFEF
  background #FFF9B8
  position relative
  padding 0 15%

  h1
    display inline-block
    margin-left 75px
    margin-right 20px
    font-family 'Sansita One', sans-serif
    color #655D4D

    &:before
      background url(../img/logo48.png)
      content ''
      width 48px
      height 48px
      position absolute
      top 12px
      left 15%

    sub
      color #939393
      font-size 70%

  a
    display inline-block
    color #666
    text-decoration none
    padding 10px
    font-size 80%

    &.disabled
      display none

    &.active, &:hover
      color #000
      background #FFF

hr
  outline none
  border none
  border-bottom 1px solid #EFEFEF

section
  display none
  padding 0 15%
  padding-top 15px

:target
  display block
