p.info
  margin-bottom 15px

.reset
  cursor pointer
  background #FFC4C4
  -webkit-user-select none
  -moz-user-select none

.author, .paid
  background #B2E1FF
  cursor pointer
  -webkit-user-select none
  -moz-user-select none

  &.show:before
    content 'Show'

  &.hide
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset

    &:before
      content 'Hide'

.entry-history
  display none

input.hide-no-author, input.hide-has-author
  -webkit-appearance none
  -moz-appearance none

  border none
  width 37px
  height 37px
  padding 10px
  float left
  position relative
  cursor pointer
  font-size 20px
  color #EFEFEF
  top -1px

  &.hide-no-author
    background-color #FFF7F0
    left -4px

    &:checked
      border 9px solid #FFF7F0

  &.hide-has-author
    background-color #F0FFF1
    left -6px

    &:checked
      border 9px solid #F0FFF1

  &:checked
    border 9px solid #FFF7F0
    background-color #EFEFEF

    &:after
      top -13px
      bottom 0
      left 0
      right 0
      text-align center


input[type=search]
  padding 10px
  border 1px solid #EFEFEF
  width calc(100% - 100px)
  float right
