input[type=text]
  border 3px solid #1BBA03
  border-radius 10px
  padding 10px
  color #5C5C5C
  font-size 24px
  font-weight bold
  transition background linear .1s

  &:focus
    outline none
    background #FFF9B8
