select, input[type=text]
  padding 5px
  font-size 24px
  font-weight bold
  color #5F5F5F
  transition background linear .1s
  background rgba(255, 249, 184, 0.65)
  border: 2px solid #E0E0E0;
  border-radius: 5px;
  box-shadow: 4px 1px rgba(224, 224, 224, 0.25);
  box-sizing border-box
  width 8%

  &:focus
    outline none

  &:disabled
     opacity 0.30


input[type=radio]
  background-color rgba(255, 249, 184, 0.65)

select
  width auto

  &:disabled
     opacity 0.30

span.per
  margin-left 10px
  margin-right 10px
  font-size 24px
  font-weight bold
  color #E0E0E0

  &.active
      color #848484

span.rates
  margin-left 10px
  margin-right 10px
  font-size 24px
  font-weight bold
  color #848484