select, input[type=text]
  padding 10px
  font-size 24px
  font-weight bold
  color #5F5F5F
  transition background linear .1s
  background rgba(255, 249, 184, 0.65)
  border: 2px solid #E0E0E0;
  border-radius: 5px;
  box-shadow: 4px 1px rgba(224, 224, 224, 0.25);
  box-sizing border-box
  width 50%

  &:focus
    outline none

select
  width auto

span.per
  margin-left 20px
  margin-right 20px
  font-size 24px
  font-weight bold
  color #848484
