position relative

input[type=range]
  width calc(100% - 50px)
  display block
  margin 0 auto
  margin-bottom 20px
  outline none
  cursor pointer

output
  width 20%
  padding-left 10px
  position absolute
  // +12% increments for each item
  left 18%
