.ratio
  float right
  color #655D4D

.amount
  font-size 16px
  padding 8px
  font-weight bold
  transition background linear .1s
  background rgba(255, 249, 184, 0.65)
  color #5F5F5F
  border 2px solid #E0E0E0
  border-radius 5px
  box-shadow 4px 1px rgba(224, 224, 224, 0.25)
  width 100%
  box-sizing border-box

.pay
  width auto
  height 32px
  margin-right 12px

p
  margin-bottom 0

table
  margin-top 14px

  th
    font-size 80%

  td
    &.relative
      position relative

    &:first-child
      max-width 340px
      text-overflow ellipsis
      white-space nowrap
      overflow hidden

    &:last-child
      min-width 300px

    .remove
      position absolute
      top 50%
      right -57px
      margin-top -16px

  tr
    &:hover
      td
        background-color #FCE6D2 !important

// Overrides for payment processors.

// Dwolla adjustments.
.d-btn
  display inline-block
  margin-right 5px

// PayPal adjustments.
form[name=_xclick]
  display inline-block
  margin-right 5px

  input[type=image]
    position relative
    top -6px
