.bitcoin, .dwolla, .paypal, .stripe
  position relative
  display inline-block
  margin-left 10px
  margin-right 10px

  &.verified:after
    content '\2713'
    background rgba(0, 192, 0, 0.89)
    width 24px
    height 24px
    display block
    position absolute
    left -5px
    color #FFF
    top -5px
    border-radius 20px
    font-weight bold
    text-align center
    line-height 24px
