&
  height 100%
  padding-top 0px

.leader
  width 60%
  font-size 17px

strong
  font-size 14px
  color #333

hr
  padding-top 60px

h2
  font-family 'Sansita One', sans-serif
  color #FF5A5A
  font-size 200%
  font-weight normal

p
  font-style italic
  color #757575

form
  opacity 0
  transition opacity linear 2s
  //padding-top 30%
  display table
  width 100%
  height calc(75% - 0.5px)

  &.fade
    opacity 1

  input[name='threshold']
    &:before
      content '$'

  input[type=image]
    margin-right 20px

  button
    cursor pointer
    background #FFF
    border 1px solid #F5F5F5
    outline none
    color #CCC
    padding 14px
    font-weight bold
    padding-left 17px
    border-radius 30px
    margin-right 20px

    &:hover
      background #FCFCFC

ol
  list-style-type none
  counter-reset li-counter -1
  position relative
  width 100%
  display table-cell
  vertical-align middle
  height 100%

  li
    position absolute
    padding-left 20px
    margin-bottom 60px
    left 0%
    transition all linear .2s
    opacity 1
    width 100%

    &.collapse
      opacity 0
      left -50%

    // Remove necessity for importants.
    &.expand
      opacity 1 !important
      visibility visible !important
      left 12% !important

    &:first-child:before
      content ''
      background url(../img/logo64.png) no-repeat center
      width 75px
      height 75px
      border-radius 70px
      background-color #FFF
      display block
      position absolute
      left auto
      right 100px

    &:not(:first-child)
      visibility hidden
      opacity 0
      top auto
      padding-left 100px
      left 100%
      width 60%

    &:before
      top 35px
      position absolute
      left -42px
      width 75px
      content counter(li-counter)
      counter-increment li-counter
      background #74C175
      padding 10px
      text-align center
      border-radius 70px
      color #FDF8B0
      font-weight bold
      border 3px solid #F0F0F0
      height 75px
      line-height 72px
      font-size 35px

//ol
//  list-style-type none
//  counter-reset li-counter -1;
//  position relative
//  width 100%
//
//  li
//    position absolute
//    padding-left 20px
//    margin-bottom 60px
//    width 100%
//
//    &:first-child:before
//      content ''
//      background url(../img/logo64.png) no-repeat center
//      width 75px
//      height 75px
//      border-radius 70px
//      background-color #FFF
//      display block
//      position absolute
//      left auto
//      right 100px
//
//    &:not(:first-child)
//      display none
//      top auto
//      left 12%
//      padding-left 100px
//
//    &:before
//      top 35px
//      position absolute
//      left -42px
//      width 75px
//      content counter(li-counter)
//      counter-increment li-counter
//      background #74C175
//      padding 10px
//      text-align center
//      border-radius 70px
//      color #FDF8B0
//      font-weight bold
//      border 3px solid #F0F0F0
//      height 75px
//      line-height 72px
//      font-size 35px
