.leader
  width 60%
  font-size 17px

h2
  font-family 'Sansita One', sans-serif
  color #FF5A5A
  font-size 200%
  font-weight normal

p
  font-style italic
  color #757575

form
  opacity 0
  transition opacity linear 2s
  padding-top 30%

  &.fade
    opacity 1

  input[name='threshold']
    &:before
      content '$'

  input[type=image]
    margin-right 20px

  button[type=submit]
    background #74C175
    border 3px solid #F0F0F0
    outline none
    color #FDF8B0
    padding 14px
    border-radius 10px
    font-weight bold

ol
  list-style-type none
  counter-reset li-counter -1;

  li
    position relative
    padding-left 20px
    margin-bottom 60px

    &:first-child:before
      content ''
      background url(../img/logo64.png) no-repeat center
      width 75px
      height 75px
      border-radius 70px
      background-color #FFF
      display block
      position absolute
      left auto
      right 100px

    &:not(:first-child)
      display none

    &:before
      position absolute
      top -10px
      left -42px
      width 20px
      content counter(li-counter)
      counter-increment li-counter
      background #74C175
      padding 10px
      text-align center
      border-radius 30px
      color #FDF8B0
      font-weight bold
      border 3px solid #F0F0F0
