&
  height 100%
  padding-top 0px
  text-align center

.leader
  width 100%
  font-size 17px
  font-style italic
  color #757575
  padding-bottom 20px

strong
  font-size 14px
  color #333
  padding-right 18px

hr.first
  padding-top 60px

h2
  font-family 'Sansita One', sans-serif
  color #CCC
  font-size 200%
  font-weight normal

h3
  font-size 24px
  font-weight bold
  color #848484

p
  display block
  width 100%

form
  opacity 0
  transition opacity linear 2s
  display table
  width 100%
  height calc(75% - 0.5px)

  &.fade
    opacity 1

  .centered
    margin auto

  input
    text-align center

  input[type=image]
    margin-right 20px

  button
    cursor pointer
    background #FFF
    border 1px solid #F5F5F5
    outline none
    color #CCC
    padding 14px
    font-weight bold
    padding-left 17px
    border-radius 30px
    margin-right 20px
    
    
    &.notrack
      background #661500 !important
      color #FFF
      
      &:hover
        background #A64D4D !important
        
    &.next
      background #75C276
      color #FFF

      &:hover
        background #99DB9A
     &.track
      background #75C276
      color #FFF

      &:hover
        background #99DB9A
    &:hover
      background #FCFCFC

ol
  list-style-type none
  counter-reset li-counter -1
  position relative
  width 100%
  //display table-cell
  //vertical-align middle
  height 100%

  li
    position absolute
    padding-left 20px
    margin-bottom 60px
    left 0%
    transition all linear .2s
    opacity 1
    width 100%

    &.collapse
      opacity 0
      left -50% !important

    // Remove necessity for importants.
    &.expand
      opacity 1 !important
      visibility visible !important
      left 0% !important

    &:not(:first-child)
      visibility hidden
      opacity 0
      top auto
      left 100%
      width 100%

    .logo
      width 75px
      height 75px
      border-radius 70px
      border 3px solid #CCC
      background-color #FFF
      display block
      padding 15px
      margin 0 auto
      margin-top: 35px

      &:before
        content ''
        background url(../img/logo64.png) no-repeat center
        width 75px
        height 75px
        display block
        
div.userAgreement
  margin-top: 200px
